@font-face {
  font-family: iconfont;
  src: url("iconfont.ttf");
}

@font-face {
    font-family: Easy;
    src: url("easy.ttf");
}
@font-face {
    font-family: Angelin-2;
    src:url("angelin-2.ttf");
}
@font-face {
    font-family: Madelita;
    src:url("Madelita-demo-2.ttf");
}
@font-face {
    font-family: Brand;
    src:url("Brand-3.ttf");
}
@font-face {
    font-family: FZSJ;
    src:url("FZSJ-ZHENXDXHNMTX.TTF");
}