@import "../fonts/iconfont.css" ;
/*背景图*/
html,body{
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-image:url("../img/bg2.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
}
.title{
    position: sticky;
}

/*logo*/
.logo{
    font-family: Angelin-2, serif;
    font-size: 500%;
    color: #ffffff;
    float: left;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

/*导航栏*/
.title  ul{
    list-style-type: none;
    float: right;
    padding: 0;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 0;
    position: relative;

}
.title ul li {
    width: 110px;
    height: 56px;
    text-align: center;
    float: left; }
.title ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: Easy, serif;
    font-size: 25px;
    line-height: 56px;
}
.title ul a:hover{     color: #0ab2d2; }
.title .move{
    height: 4px;
    width: 110px;
    border-top: 4px solid #0ab2d2;/*只需要将上边显示出来*/
    position: absolute;
    left: 0;
    top: 52px;
    transition: left .2s ease-in-out 0s;/*包含四个过度属性：执行变换属性、执行时间、速率、延迟*/
    -webkit-transition: left .2s ease-in-out 0s;/*chrome和safari*/
    -moz-transition: left .2s ease-in-out 0s;/*firefox*/
    -o-transition: left .2s ease-in-out 0s;/*opera*/ }

li:nth-child(1):hover~ .move{    /*li元素的父元素的第一个子元素，当鼠标停留其上时，move元素的left属性改变*/
   left: 0; }
li:nth-child(2):hover~ .move{     left: 110px; }
li:nth-child(3):hover~ .move{     left: 220px; }


/*内容*/
.content{
    width: 100%;
    height: 80%;
    color: #ffffff;
    float: left;
    text-align:center;
    font-family: FZSJ, serif;
    font-size: 50px;
    text-shadow: 5px 5px 5px darkgrey;
    position: relative;
}
.c{
    padding-top: 5%;
}
/*关于*/
.about{
    width: 100%;
    height: 70%;
    float: left;
    color: #000000;
    background: #e2c2ff;
    text-align:center;
    font-family: Easy,serif;
    font-size: 50px;
}
.circle{
    background-color: #ffffff;
    border-radius: 10%;
    font-size: 60%;
}
.article{
    font-size: 50%;
}
.mask{
    float: left;
    position: relative;
    width: 100%;
    text-align:center;
    padding-top: 10%;
}
.log{
    width: 100%;
    height: 60%;
    float: left;
    color: #000000;
    background: #e2c2ff;
    text-align:center;
    font-family: Easy,serif;
    font-size: 50px;

}
/*横向时间轴*/
.time-container{
    font-size: 80%;
}
.time-horizontal {
    list-style-type: none;
    border-top: 1px solid #707070;
    max-width: 100%;
    padding: 0;
    margin: auto;
}

.time-horizontal li {
    float: left;
    position: relative;
    text-align: center;
    width: 25%;
    padding-top: 10px;
}

.time-horizontal li b:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 47%;
    width: 12px;
    height: 12px;
    border: 2px solid #4c4c4c;
    border-radius: 8px;
    background: #4c4c4c;
}

/*页脚*/
.footer{
    float: left;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align:center;
    padding-top: 10%;
}
/*超链接*/
a:link {
    color: #FF0000; /*链接默认的颜色变化*/
    text-decoration:none;
    font-family: Easy, serif;
    font-size: small;
}
a:visited {
    color: #ffffff; /*链接访问的颜色变化*/
}
a:hover {
    color: #0ab2d2; /*鼠标经过的颜色变化*/
}
a:active {
    color: #8800ff; /*鼠标按下的颜色变化*/
}

.top {
    display: none; /* 默认隐藏 */
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px; /* 圆角 */
}
.iconfont {
  font-family: iconfont,serif;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiediankaishi:before {
  content: "\e6dd";
}

.icon-center:before {
  content: "\e618";
}

.icon-zanting:before {
  content: "\e693";
}

.icon-shangyishou:before {
  content: "\e603";
}

.icon-xiayishou:before {
  content: "\e602";
}
